<div class="takspanel-container">
    <div class="page-container ">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">
                <div class="row taskpanel-boxes">
                    <div [ngClass]="{'col-md-offset-2 col-md-8':!leftPanel, 'col-md-7':leftPanel}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="btn btn-panel">Add Task</a>
                            </div>
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left">
                                        <div class="circle-box">
                                            <i class="icon-check"></i>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <div class="form-group">
                                            <input class="media-heading form-control" placeholder="Enter Task" (click)="leftPanel = true" [(ngModel)]="headingTask">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-flat hide">
                            <div class="panel-heading">
                                <h5 class="panel-title">My messages<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
                                <div class="heading-elements">
                                    <span class="heading-text"><i class="icon-history text-warning position-left"></i> Jul 7, 10:30</span>
                                    <span class="label bg-success heading-text">Online</span>
                                </div>
                            </div>

                            <!-- Numbers -->
                            <div class="container-fluid">
                                <div class="row text-center">
                                    <div class="col-md-4">
                                        <div class="content-group">
                                            <h6 class="text-semibold no-margin"><i class="icon-clipboard3 position-left text-slate"></i> 2,345</h6>
                                            <span class="text-muted text-size-small">this week</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="content-group">
                                            <h6 class="text-semibold no-margin"><i class="icon-calendar3 position-left text-slate"></i> 3,568</h6>
                                            <span class="text-muted text-size-small">this month</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="content-group">
                                            <h6 class="text-semibold no-margin"><i class="icon-comments position-left text-slate"></i> 32,693</h6>
                                            <span class="text-muted text-size-small">all messages</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="nav nav-lg nav-tabs nav-justified no-margin no-border-radius bg-indigo-400 border-top border-top-indigo-300">
                                <li class="active">
                                    <a href="#messages-tue" class="text-size-small text-uppercase legitRipple" data-toggle="tab">
                            Tuesday
                          </a>
                                </li>
                                <li>
                                    <a href="#messages-mon" class="text-size-small text-uppercase legitRipple" data-toggle="tab">
                            Monday
                          </a>
                                </li>
                                <li>
                                    <a href="#messages-fri" class="text-size-small text-uppercase legitRipple" data-toggle="tab">
                            Friday
                          </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active fade in has-padding" id="messages-tue">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt="">
                                                <span class="badge bg-danger-400 media-badge">8</span>
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    James Alexander
                                    <span class="media-annotation pull-right">14:58</span>
                                  </a>

                                                <span class="display-block text-muted">The constitutionally inventoried precariously...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt="">
                                                <span class="badge bg-danger-400 media-badge">6</span>
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Margo Baker
                                    <span class="media-annotation pull-right">12:16</span>
                                  </a>

                                                <span class="display-block text-muted">Pinched a well more moral chose goodness...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Jeremy Victorino
                                    <span class="media-annotation pull-right">09:48</span>
                                  </a>

                                                <span class="display-block text-muted">Pert thickly mischievous clung frowned well...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Beatrix Diaz
                                    <span class="media-annotation pull-right">05:54</span>
                                  </a>

                                                <span class="display-block text-muted">Nightingale taped hello bucolic fussily cardinal...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-xs" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Richard Vango
                                    <span class="media-annotation pull-right">01:43</span>
                                  </a>

                                                <span class="display-block text-muted">Amidst roadrunner distantly pompously where...</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tab-pane fade has-padding" id="messages-mon">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Isak Temes
                                    <span class="media-annotation pull-right">Tue, 19:58</span>
                                  </a>

                                                <span class="display-block text-muted">Reasonable palpably rankly expressly grimy...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Vittorio Cosgrove
                                    <span class="media-annotation pull-right">Tue, 16:35</span>
                                  </a>

                                                <span class="display-block text-muted">Arguably therefore more unexplainable fumed...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Hilary Talaugon
                                    <span class="media-annotation pull-right">Tue, 12:16</span>
                                  </a>

                                                <span class="display-block text-muted">Nicely unlike porpoise a kookaburra past more...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Bobbie Seber
                                    <span class="media-annotation pull-right">Tue, 09:20</span>
                                  </a>

                                                <span class="display-block text-muted">Before visual vigilantly fortuitous tortoise...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Walther Laws
                                    <span class="media-annotation pull-right">Tue, 03:29</span>
                                  </a>

                                                <span class="display-block text-muted">Far affecting more leered unerringly dishonest...</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="tab-pane fade has-padding" id="messages-fri">
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Owen Stretch
                                    <span class="media-annotation pull-right">Mon, 18:12</span>
                                  </a>

                                                <span class="display-block text-muted">Tardy rattlesnake seal raptly earthworm...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Jenilee Mcnair
                                    <span class="media-annotation pull-right">Mon, 14:03</span>
                                  </a>

                                                <span class="display-block text-muted">Since hello dear pushed amid darn trite...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Alaster Jain
                                    <span class="media-annotation pull-right">Mon, 13:59</span>
                                  </a>

                                                <span class="display-block text-muted">Dachshund cardinal dear next jeepers well...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Sigfrid Thisted
                                    <span class="media-annotation pull-right">Mon, 09:26</span>
                                  </a>

                                                <span class="display-block text-muted">Lighted wolf yikes less lemur crud grunted...</span>
                                            </div>
                                        </li>

                                        <li class="media">
                                            <div class="media-left">
                                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
                                            </div>

                                            <div class="media-body">
                                                <a href="#">
                                    Sherilyn Mckee
                                    <span class="media-annotation pull-right">Mon, 06:38</span>
                                  </a>

                                                <span class="display-block text-muted">Less unicorn a however careless husky...</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5" *ngIf="leftPanel">
                        <form [formGroup]="taskform">
                            <div formGroupName="taskPanelGroup">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a data-target="#myModal" data-toggle="modal">trigger modal</a>
                                        <div class="form-group">

                                            <input type="text" value="Washington,Alaska" data-role="tagsinput" class="tagsinput-typeahead">
                                        </div>



                                    </div>
                                    <div class="panel-body">
                                        <div class="media">
                                            <div class="media-left">

                                                <div class="circle-box">

                                                    <i class="icon-check"></i>
                                                </div>
                                            </div>
                                            <div class="media-body">
                                                <div class="form-group">
                                                    <input class="media-heading form-control" placeholder="Your task is here" formControlName="taskHeading">
                                                </div>
                                                <div class="form-group">

                                                    <input class="form-control" placeholder="Description of your task" formControlName="taskDescription">
                                                </div>
                                                <div class="timeline-row hide">


                                                    <div class="panel panel-flat timeline-content">
                                                        <div class="panel-heading">
                                                            <h6 class="panel-title">Conversation with James</h6>
                                                        </div>

                                                        <div class="panel-body">
                                                            <ul class="media-list chat-list content-group">




                                                                <li class="media">
                                                                    <div class="media-left">
                                                                        <a href="assets/images/placeholder.jpg">
                                                                            <img src="assets/images/placeholder.jpg" class="img-circle img-md" alt="">
                                                                        </a>
                                                                    </div>

                                                                    <div class="media-body">
                                                                        <div class="media-content">Tolerantly some understood this stubbornly after snarlingly frog far added insect into snorted more auspiciously heedless drunkenly jeez foolhardy oh.</div>
                                                                        <span class="media-annotation display-block mt-10">Wed, 4:20 pm <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                                                                    </div>
                                                                </li>


                                                                <li class="media">
                                                                    <div class="media-left">
                                                                        <a href="assets/images/placeholder.jpg">
                                                                            <img src="assets/images/placeholder.jpg" class="img-circle img-md" alt="">
                                                                        </a>
                                                                    </div>

                                                                    <div class="media-body">
                                                                        <div class="media-content">a Grunted smirked and grew less but rewound much despite and impressive via alongside out and gosh easy manatee dear ineffective yikes.</div>
                                                                        <span class="media-annotation display-block mt-10">13 minutes ago <a href="#"><i class="icon-pin-alt position-right text-muted"></i></a></span>
                                                                    </div>
                                                                </li>


                                                            </ul>

                                                            <textarea name="enter-message" class="form-control content-group" rows="3" cols="1" placeholder="Enter your message..."></textarea>

                                                            <div class="row">
                                                                <div class="col-xs-6">
                                                                    <ul class="icons-list icons-list-extended mt-10">
                                                                        <li><a href="#" data-popup="tooltip" title="Send photo" data-container="body"><i class="icon-file-picture"></i></a></li>
                                                                        <li><a href="#" data-popup="tooltip" title="Send video" data-container="body"><i class="icon-file-video"></i></a></li>
                                                                        <li><a href="#" data-popup="tooltip" title="Send file" data-container="body"><i class="icon-file-plus"></i></a></li>
                                                                    </ul>
                                                                </div>

                                                                <div class="col-xs-6 text-right">
                                                                    <button type="button" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-circle-right2"></i></b> Send</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>



            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
</div>

<!-- /theme JS files -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>